<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Default Suite">
  <test name="demo">
    <classes>
      <class name="com.example.demo.DemoApplicationTests">
        <methods>
          <include name="demo"></include>
        </methods>
      </class> <!-- com.example.demo.Grid -->
    </classes>
  </test> <!-- demo -->
</suite> <!-- Default Suite -->
